{% extends 'base.html' %}
{% block content %}
    <h1>{{ course.title }}</h1>
    {% if course.image %}
        <img src="{{ course.image.url }}" alt="{{ course.title }}" width="200">
    {% endif %}
    {% if user == course.c_owner %}
        <a href="{% url 'edit_course' course.pk %}" class="btn btn-primary">Редагувати курс</a>
        <a href="{% url 'delete_course' course.pk %}" class="btn btn-danger">Видалити курс</a>
    {% endif %}
    <p>Власник: {{ course.c_owner }}</p>
    {% if course.c_teachers.exists %}
        <h3>Викладачі курсу:</h3>
        <ul>
            {% for teacher in course.c_teachers.all %}
                <li>
                    <a href="{% url 'teacher_detail' teacher.pk %}">{{ teacher.full_teacher_name }}</a>
                    {% if teacher.specialties %}( {{ teacher.specialties }} ){% endif %}

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Викладач ще не призначений.</p>
    {% endif %}
    <p><strong>Дата початку:</strong> {{ course.start_date|date:"d.m.Y" }}</p>
    <p><strong>Дата завершення:</strong> {{ course.end_date|date:"d.m.Y" }}</p>
    <p>{{ course.program }}</p>
    <form method="post">
        {% csrf_token %}
        {% if is_enrolled %}
            <button type="submit" class="btn btn-danger" name="action" value="remove">Відмовитись від курсу</button>
        {% else %}
            <button type="submit" class="btn btn-success" name="action" value="add">Записатись на курс</button>
        {% endif %}
    </form>
    <h2>Записані користувачі:</h2>
    <ul>
        {% for member in current_users %}
            <li>{{ member.m_user.full_name |default:member.m_user.email }}</li>
        {% empty %}
            <li>Ще ніхто не записався</li>
        {% endfor %}
    </ul>
{% endblock %}