{% extends 'base.html' %}
{% block content %}
    <h1>{{ course.title }}</h1>
    {% if course.image %}
        <img src="{{ course.image.url }}" alt="{{ course.title }}" width="200">
    {% endif %}
    <p>{{ course.program }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Записатись на курс</button>
    </form>
    <h2>Записані користувачі:</h2>
    <ul>
        {% for user in current_users %}
            <li>{{ user.user.username }} ({{ user.full_name }})</li>
        {% empty %}
            <li>Ще ніхто не записався</li>
        {% endfor %}
    </ul>
{% endblock %}