
services:
  web:
    build: .
    command: web
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - project_db
      - redis

  project_db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    expose:
      - "5432"

  redis:
    image: redis:7-alpine
    expose:
      - "6379"

  celery_beat:
    build: .
    command: beat
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis

  celery_worker:
    build: .
    command: worker
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis